# Python cache & environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter & virtual envs
.ipynb_checkpoints
*.egg-info/

# Streamlit
.streamlit/

# Data files
*.csv
*.xlsx
*.json
*.zip
*.rar
*.7z
data/

# Secrets and configs
.env
api_keys.txt
*.ini

# OS files
.DS_Store
Thumbs.db
desktop.ini
